html, body{
  height: 100%;
}

body{
  font-family: helvetica;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #111111, #2e0404);
  color: #fff;
}

button {
  margin-top: 3em;
    color: rgb(240, 206, 206);
    font-weight: 600;
    width: 15em;
    height: 5em;
    border: 2px solid rgb(80, 40, 3);
    background-color: rgb(107, 54, 4);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
  background-color: rgb(80, 40, 3);
}